@model SmartShop.Core.Models.ProductDetails

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ProductDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetworkStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetworkStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetworkCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetworkCompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StorageCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StorageCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatteryLife)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatteryLife)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Brand)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
